@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*,
body {
    padding: 0;
    margin: 0;
    font-family: "Lato", sans-serif;
}



#logo {
    text-transform: uppercase;
    font-size: 21px;
    font-weight: bold;
    color: rgb(33, 112, 1);
   
    text-decoration: none;
}

nav {
    padding: 1em;
    border-bottom: 1px solid black;
    margin-bottom: 0.5em;
}

nav ul {
    padding: 0;
}

nav ul li {
    list-style: none;
    font-weight: bold;
    margin-top: 0.5em;
    padding:1em;
    cursor: pointer;
    
}

nav ul li:hover{
    background-color: green;
    transition: 0.4s ease-in-out;
}


.masthead {

    position: relative;
    background: url("../img/masthead.webp");
    background-size: cover;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: auto;
   
   
}

.masthead h1 {
    font-family: "Lato", sans-serif;
    font-weight: bold;
    font-size: 1rem;
    color: rgb(80, 120, 39);
    background-color: antiquewhite;
   padding:0.2em;
}
#controls{
    display:flex;
    margin:1em;
    justify-content: center;
}
#controls button{
    margin-right:1em;
    border:solid black 1px;
    padding:0.5em;
    border-radius: 4px;
    cursor: pointer;
    font-size:0.5rem;
    font-weight: bold;
    text-transform: uppercase;
    
   
    
    
}
.active {
    background-color: #007bff;
    color: white;
}

#dynamic-content {
    display: block;
    margin: 1em;
    font-size: 0.5rem;
    line-height: 1.5;
    
}
#dynamic-content img {
    
    max-width: 480px;
    height: 300px;
    margin-bottom:1em;
    border-radius: 4px;
}


footer {
    display: flex;
    
    border-top: 1px solid black;
    
}

footer a {
    text-decoration: underline;
    color: black;
    margin-left: 1em;
    margin-top: 1.5em;
    margin-bottom:1em;
    font-size: 0.5rem;
    font-family: "Lato", sans-serif;
}
@media only screen and (min-width: 30rem) {
    #logo {
        font-size: 36px;
    }

    nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1em;
    }

    nav ul {
        display: flex;
    }

   

    body {
        max-width: 85rem;
        margin: auto;
    }

    .masthead h1 {
        font-size: 1.5rem;
        font-weight: bold;

    }

    #controls{
        justify-content: left;
        
    }
    #controls button{
        font-size: 1rem;
    }
    #dynamic-content h2 {
        font-size: 1.5rem;
    }

    #dynamic-content img {
        float: left;
        margin-right:1em;
        max-width: 650px; 
        max-height: 450px; 
        width: 100%;
        height: auto;
        border-radius: 8px;
    }
    #dynamic-content p{
        gap:1em;
        margin-left:0.5em !important;
        font-size: 1rem;
    }
    footer {
        clear: both;
        
    }
    footer a{
        font-size: 1rem;
        
    }
}
